# Default ignored files
/shelf/
/workspace.xml/
/jupyter-settings.xml/
/misc.xml/
/modules.xml/

/jupyter-settings.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/workspace.xml
/WalmartForecast.iml
